<main class="contenedor panel-administracion">
  <h1><%= pagina %></h1>

  <div class="contenedor-botones">
    <a class="btn btn-amarillo" href="/nuevo-grupo">Nuevo grupo</a>
    <a class="btn btn-azul" href="/nuevo-meeti">Nuevo meeti</a>
    <a class="btn btn-rosa" href="/editar-perfil">Editar perfil</a>
    <a class="btn btn-amarillo" href="/imagen-perfil">Imagen perfil</a>
  </div>

  <div class="seccion-admin">
    <h2>Próximos meeti's</h2>
    <% if (meetis.length) { %>
    <ul>
      <% meetis.forEach(meeti=>{ %>
      <li>
        <div class="informacion-admin">
          <% moment.locale("es") %> <% const fecha= meeti.fecha + " " +
          meeti.hora %>
          <p class="fecha"><%= moment(fecha).format("LLLL") %> Horas</p>
          <h3><%= meeti.titulo %></h3>
          <small><%= meeti.interesados.length %> Interesados</small>
        </div>
        <div class="acciones contenedor-botones">
          <a class="btn btn-verde" href="/editar-meeti/<%= meeti.id %>"
            >Editar</a
          >
          <a class="btn btn-azul" href="/asistentes-meeti/<%= meeti.id %>"
            >Asistentes</a
          >
          <a class="btn btn-rojo" href="/eliminar-meeti/<%= meeti.id %>"
            >Eliminar</a
          >
        </div>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No tienes próximos meeti's</p>
    <% } %>
  </div>

  <div class="seccion-admin">
    <h2>Tus grupos</h2>
    <% if (grupos.length) { %>
    <ul>
      <% grupos.forEach(grupo=>{ %>
      <li>
        <div class="informacion-admin">
          <h3><%= grupo.nombre %></h3>
        </div>
        <div class="acciones contenedor-botones">
          <a class="btn btn-verde" href="/editar-grupo/<%= grupo.id %>"
            >Editar</a
          >
          <a class="btn btn-azul" href="/imagen-grupo/<%= grupo.id %>"
            >Imagen</a
          >
          <a class="btn btn-rojo" href="/eliminar-grupo/<%= grupo.id %>"
            >Eliminar</a
          >
        </div>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No tienes grupos creados</p>
    <% } %>
  </div>

  <div class="seccion-admin">
    <h2>Anteriores meeti's</h2>
    <% if (anterioresMeetis.length) { %>
    <ul>
      <% anterioresMeetis.forEach(anterior=>{ %>
      <li>
        <div class="informacion-admin">
          <% moment.locale("es") %> <% const fecha= anterior.fecha + " " +
          anterior.hora %>
          <p class="fecha"><%= moment(fecha).format("LLLL") %> Horas</p>
          <h3><%= anterior.titulo %></h3>
          <small><%= anterior.interesados.length %> Interesados</small>
        </div>
        <div class="acciones contenedor-botones">
          <a class="btn btn-verde" href="/editar-meeti/<%= anterior.id %>"
            >Editar</a
          >
          <a class="btn btn-azul" href="/asistentes-meeti/<%= anterior.id %>"
            >Asistentes</a
          >
          <a class="btn btn-rojo" href="/eliminar-meeti/<%= anterior.id %>"
            >Eliminar</a
          >
        </div>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No tienes anteriores meeti's</p>
    <% } %>
  </div>
</main>
