<main class="contenedor panel-administracion">
  <h1><%= pagina %></h1>

  <div class="contenedor-botones">
    <a class="btn btn-amarillo" href="/nuevo-grupo">Nuevo grupo</a>
    <a class="btn btn-azul" href="/nuevo-meeti">Nuevo meeti</a>
    <a class="btn btn-rosa" href="/editar-perfil">Editar perfil</a>
    <a class="btn btn-amarillo" href="/imagen-perfil">Imagen perfil</a>
  </div>

  <div class="seccion-admin">
    <h2>Tus meeti's</h2>
    <ul>
      <li>
        <div class="informacion-admin">
          <p class="fecha">Lunes, 22 de Mayo de 2025</p>
          <h3>Ecommerce en ecuador</h3>
          <small>23 asistentes</small>
        </div>
        <div class="acciones contenedor-botones">
          <a class="btn btn-verde" href="#">Editar</a>
          <a class="btn btn-azul" href="#">Asistentes</a>
          <a class="btn btn-rojo" href="#">Eliminar</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="seccion-admin">
    <h2>Tus grupos</h2>
    <% if (grupos.length) { %>
    <ul>
      <% grupos.forEach(grupo=>{ %>
      <li>
        <div class="informacion-admin">
          <h3><%= grupo.nombre %></h3>
        </div>
        <div class="acciones contenedor-botones">
          <a class="btn btn-verde" href="/editar-grupo/<%= grupo.id %>"
            >Editar</a
          >
          <a class="btn btn-azul" href="/imagen-grupo/<%= grupo.id %>"
            >Imagen</a
          >
          <a class="btn btn-rojo" href="/eliminar-grupo/<%= grupo.id %>"
            >Eliminar</a
          >
        </div>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No tienes grupos creados</p>
    <% } %>
  </div>
</main>
